[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
atomicwrites = "*"
attrs = "*"
azure-cognitiveservices-vision-computervision = "*"
azure-common = "*"
azure-core = "*"
azure-storage-blob = "*"
certifi = "*"
cffi = "*"
chardet = "*"
colorama = "*"
coverage = "*"
cryptography = "*"
flake8 = "*"
greenlet = "*"
pynput = "*"
idna = "*"
iniconfig = "*"
isodate = "*"
mccabe = "*"
msrest = "*"
numpy = "*"
oauthlib = "*"
opencv-python = "*"
pafy = "*"
packaging = "*"
Pillow = "*"
pluggy = "*"
py = "*"
pycodestyle = "*"
pycparser = "*"
pyflakes = "*"
pyparsing = "*"
pytest = "*"
python-dotenv = "*"
python-vlc = "*"
requests = "*"
requests-oauthlib = "*"
scikit-build = "*"
six = "*"
toml = "*"
urllib3 = "*"
youtube_dl = "*"
zope.event = "*"
zope.interface = "*"


[requires]
python_version = "3.7"

